@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+VA+Guides&display=swap');

.playwrite-de-va-guides-regular {
  font-family: "Playwrite DE VA Guides", serif;
  font-weight: 400;
  font-style: normal;
}


.headerh1{
 font-family:"Playwrite DE VA Guides", serif ;
  color: rgb(94, 255, 2);
font-size: 40px;
margin: 0;
padding: 0;;
text-shadow: 0 0 35px #fff  ;
}
.headerh1:hover{
  color: rgb(94, 243, 243);
  text-shadow: 0 0 5px #fff,0 0 35px #fff;
}
.homeh1{
  font-size: 40px;
}

.Loginpage{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;


}